n8n/workflows/email_report_workflow.json
{
  "name": "CodePulse Email Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codepulse-report",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\nconst risksHtml = (data.risks || []).map(r =>\n  `<tr><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${r.module}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${r.owner}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${r.ownership_pct}%</td></tr>`\n).join('');\n\nconst recsHtml = (data.recommendations || []).map(r =>\n  `<li style=\"margin-bottom:12px\"><strong>[${r.priority}]</strong> ${r.title}<br/><span style=\"color:#666\">${r.text}</span></li>`\n).join('');\n\nconst devsHtml = (data.developers || []).map(d =>\n  `<tr><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${d.name}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${d.commits}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${d.impact_score}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${d.risk_label}</td></tr>`\n).join('');\n\nconst stats = data.stats || {};\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:680px;margin:0 auto;color:#333\">\n  <div style=\"background:linear-gradient(135deg,#0f172a,#1e293b);padding:32px;border-radius:12px 12px 0 0\">\n    <h1 style=\"color:#fff;margin:0;font-size:24px\">⚡ CodePulse Insights</h1>\n    <p style=\"color:#94a3b8;margin:8px 0 0;font-size:14px\">${data.subject}</p>\n  </div>\n  \n  <div style=\"background:#fff;padding:24px;border:1px solid #e2e8f0;border-top:none\">\n    <div style=\"display:flex;gap:16px;margin-bottom:24px\">\n      <div style=\"flex:1;background:#f0fdf4;padding:16px;border-radius:8px;text-align:center\">\n        <div style=\"font-size:28px;font-weight:bold;color:#16a34a\">${stats.total_commits || 0}</div>\n        <div style=\"font-size:12px;color:#666\">Commits</div>\n      </div>\n      <div style=\"flex:1;background:#eff6ff;padding:16px;border-radius:8px;text-align:center\">\n        <div style=\"font-size:28px;font-weight:bold;color:#2563eb\">${stats.active_developers || 0}</div>\n        <div style=\"font-size:12px;color:#666\">Developers</div>\n      </div>\n      <div style=\"flex:1;background:#fefce8;padding:16px;border-radius:8px;text-align:center\">\n        <div style=\"font-size:28px;font-weight:bold;color:#ca8a04\">${stats.modules_tracked || 0}</div>\n        <div style=\"font-size:12px;color:#666\">Modules</div>\n      </div>\n    </div>\n\n    <h2 style=\"font-size:16px;border-bottom:2px solid #e2e8f0;padding-bottom:8px\">📋 Summary</h2>\n    <pre style=\"white-space:pre-wrap;font-family:Arial,sans-serif;font-size:14px;line-height:1.6;color:#475569;background:#f8fafc;padding:16px;border-radius:8px\">${data.summary}</pre>\n\n    ${risksHtml ? `\n    <h2 style=\"font-size:16px;border-bottom:2px solid #e2e8f0;padding-bottom:8px;margin-top:24px\">⚠️ High-Risk Modules</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px\">\n      <tr style=\"background:#fef2f2\"><th style=\"padding:8px 12px;text-align:left\">Module</th><th style=\"padding:8px 12px;text-align:left\">Owner</th><th style=\"padding:8px 12px;text-align:left\">Ownership</th></tr>\n      ${risksHtml}\n    </table>` : ''}\n\n    ${devsHtml ? `\n    <h2 style=\"font-size:16px;border-bottom:2px solid #e2e8f0;padding-bottom:8px;margin-top:24px\">👥 Top Contributors</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px\">\n      <tr style=\"background:#f0f9ff\"><th style=\"padding:8px 12px;text-align:left\">Developer</th><th style=\"padding:8px 12px;text-align:left\">Commits</th><th style=\"padding:8px 12px;text-align:left\">Impact</th><th style=\"padding:8px 12px;text-align:left\">Risk</th></tr>\n      ${devsHtml}\n    </table>` : ''}\n\n    ${recsHtml ? `\n    <h2 style=\"font-size:16px;border-bottom:2px solid #e2e8f0;padding-bottom:8px;margin-top:24px\">💡 Recommendations</h2>\n    <ul style=\"padding-left:20px;font-size:14px;line-height:1.6\">${recsHtml}</ul>` : ''}\n  </div>\n\n  <div style=\"background:#f8fafc;padding:16px 24px;border-radius:0 0 12px 12px;border:1px solid #e2e8f0;border-top:none;text-align:center\">\n    <p style=\"margin:0;font-size:12px;color:#94a3b8\">Generated by CodePulse AI • This is an automated report</p>\n  </div>\n</div>`;\n\nreturn [{ json: { to: data.email, subject: data.subject, html: html } }];"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "codepulse@yourcompany.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
